@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Amiri', serif;
}

:root {
    --primery-color: #940b0b;
    --secondary-color: #2c0c0c;
}

body {
    background: url('./img/background.png') center center/70%;
    direction: rtl;
}

.container {
    max-width: 1250px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.player {
    background: linear-gradient(to right , var(--primery-color) , var(--secondary-color));
    position: sticky;
    top: 0;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    z-index: 1;
}

.player .ayah {
    padding: 10px 0;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
}

.player audio {
    width: 90%;
    height: 40px;
    margin: 15px 0;
    margin-right: 5%;
    
}

.player .buttons {
    display: flex;
    justify-content: space-around;
}

.player .buttons .icon {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: var(--primery-color);
    cursor: pointer;
}

.surahs > div {
    color: #363535;
    background: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    font-weight: bolder;
    width: calc(100% - 90px);
    transition: 0.4s color ease;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
    counter-increment: surah-counter;
}

.surahs > div::after {
    position: absolute;
    content: counter(surah-counter);
    width: 80px;
    height: 80px;
    background: inherit;
    left: -90px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    font-family: sans-serif;
    line-height: 80px;
    text-align: center;
    box-shadow: inherit;
    transition: inherit;
}

.surahs > div::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: linear-gradient(to right, var(--primery-color), var(--secondary-color));
    left: -4px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    z-index: -1;
}

.surahs > div:hover {
    background: linear-gradient(to bottom, var(--primery-color), var(--secondary-color));
    color: white;
}

.scrollTop {
    position: fixed;
    top: 700px;
    right: 60px;
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    background: white;
    border-radius: 50%;
    font-size: 2em;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
    color: var(--primery-color);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transform-origin: bottom;
    z-index: 100000;
}

.scrollTop.active {
    visibility: visible;
    opacity: 1;
}